@tailwind base;
@tailwind components;
@tailwind utilities;


.border-gradient {
  /* Apply border radius */
  border: 1px solid transparent;
  /* Set a transparent border */
  border-image: linear-gradient(to right, #033631, #D4A041) 1;
  /* Apply linear gradient as border */
}
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transform: translateY(-50%);
}
.ant-form-item-control-input input{
  width: 450px !important;
  height: 45px !important;
}
.ant-form-item-control-input button{
  background-color: #333333 !important;
  border-radius: 24px !important;

}
